<!DOCTYPE HTML>

 <html>
 	<head>
 		<title>NPS Virtual Kiosk</title>
    <link rel="shortcut icon" href="/favicon.ico" />
 		<meta charset="utf-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
 		<link rel="stylesheet" type="text/css" href="css/main.css" />
 		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
 	</head>

 	<body class="is-preload">
 		<!-- Wrapper -->
  		<div id="wrapper" class="divided">

  			<!-- Intro -->
  				<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  					<div class="content">
  						<h1>Virtual Kiosk</h1>
  						<p class="major">Welcome to the National Parks Service virtual kiosk.</p>
  						<ul class="actions stacked">
  							<li><a href="#first" class="button big wide smooth-scroll-middle">Learn More About a Park!</a></li>
  						</ul>
  					</div>
  					<div class="image">
  						<img src="images/banner.jpg" alt="" />
  					</div>
  				</section>

  			<!-- Search -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
					<div class="content">
						<h2>Find a Park</h2>
						<ul class="actions stacked">
            <li>State:
            <select v-model="selectedState">
                <option v-for="state in states" :value="state">{{ state.text }}</option>
            </select>
            </li>
            <li>Desgination:
            <select v-model="selectedDesignation">
                <option v-for="designation in designations" :value="designation">{{ designation.text }}</option>
            </select>
            </li>
            <li>Search term:
            <input id="qField" v-model="q" type="text" placeholder="Enter a keyword e.g. &quot;Yellowstone&quot;" style="margin-bottom: 15px;">
            <template v-if="emptyField">
              <b><i style="color:red;">Please enter a search term!</i></b><br />
            </template>
            <button id="searchButton" v-on:click="trySearch" class="button fit">search</button>
          </ul>
					</div>
        <div class="image">
          <img :src=url alt="grand canyon" />
        </div>
				</section>


        <!-- Search results -->
        <a id="resultsSection"></a>
          <section class="wrapper style1 align-center" v-if="displayResults">
            <div class="inner" style="padding-bottom: 15px; padding-top: 40px;">
              <h2>Search Results</h2>
            </div>
            <div class="content" v-if="noResults">
              No results found (except for a very curious squirrel)! Please try again! <br />
              <img src="images/squirrel.jpg" alt="squirrel">
            </div>
            <div v-if="!noResults">
              <div class="gallery style2 medium lightbox onscroll-fade-in">
                <article v-for="park in info">
                  <a href="images/squirrel.jpg" class="image">
                    <img src="images/squirrel.jpg" alt="" />
                  </a>
                  <div class="caption">
                    <h3>Ipsum Dolor</h3>
                    <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                    <ul class="actions fixed">
                      <li><span class="button small">Details</span></li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
  				</section>

        <!-- Selected Park -->
        <!-- v-if="displayPark" -->

      </div> <!-- End wrapper div -->

  			<!-- Footer -->
  				<footer class="wrapper style1 align-center">
  					<div class="inner">
  						<p>&copy; Timothy Goh. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  					</div>
  				</footer>

 		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/breakpoints.min.js"></script>
		<script src="js/util.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>

    <script>
    var qField = document.getElementById("qField");
    qField.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("searchButton").click();
      }
    });
    </script>

 	</body>
 </html>
