<!DOCTYPE HTML>

 <html>
 	<head>
 		<title>NPS Virtual Kiosk</title>
    <link rel="shortcut icon" href="/favicon.ico" />
 		<meta charset="utf-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
 		<link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
 	</head>

 	<body class="is-preload">
 		<!-- Wrapper -->
  		<div id="wrapper" class="divided">

  			<!-- Intro -->
  				<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  					<div class="content">
  						<h1>Virtual Kiosk</h1>
  						<p class="major">Welcome to the National Parks Service virtual kiosk.</p>
  						<ul class="actions stacked">
  							<li><a href="#first" class="button big wide smooth-scroll-middle">Learn More About a Park!</a></li>
  						</ul>
  					</div>
  					<div class="image">
  						<img src="images/banner.jpg" alt="" />
  					</div>
  				</section>

  			<!-- Search section -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
					<div class="content">
						<h2>Find a Park</h2>
						<ul class="actions stacked">
            <li>State:
            <select v-model="selectedState">
                <option v-for="state in states" :value="state">{{ state.text }}</option>
            </select>
            </li>
            <li>Desgination:
            <select v-model="selectedDesignation">
                <option v-for="designation in designations" :value="designation">{{ designation.text }}</option>
            </select>
            </li>
            <li>Search term:
            <input id="qField" v-model="q" type="text" placeholder="Enter a keyword e.g. &quot;Yellowstone&quot;" style="margin-bottom: 15px;">
            <template v-if="emptyField">
              <b><i style="color:red;">Please enter a search term!</i></b><br>
            </template>
            <button id="searchButton" v-on:click="trySearch" class="button fit">search</button>
          </ul>
					</div>
        <div class="image">
          <img :src=url alt="grand canyon" />
        </div>
				</section>

        <!-- Search results -->
        <a id="resultsSection"></a>

        <!-- Spinner -->
        <section class="wrapper style1 align-center" v-if="displaySpinner">
          <div class="inner" style="padding-top: 20px;">
            <h2>Search Results</h2>
          </div>
          <div class="spinner-border"></div>
        </section>

        <!-- No results found -->
        <section class="wrapper style1 align-center" v-if="displaySquirrel">
          <div class="inner" style="padding-bottom: 15px; padding-top: 20px;">
            <h2>Search Results</h2>
          </div>
          <div class="content">
            No results found (except for a very curious squirrel)! Please check your search parameters and try again! <br>
            <div class="image">
              <img src="images/squirrel.jpg" alt="squirrel">
            </div>
          </div>
        </section>

        <!-- Results gallery  -->
        <section class="wrapper style1 align-center" :style="{ display: displayResults }">
          <hr>
          <div class="inner" style="padding-bottom: 15px; padding-top: 20px;">
            <h2>Search Results</h2>
          </div>
          <div id="galleryImage" class="gallery style2 medium onscroll-fade-in" :style="{ visibility: displayGallery }">
            <article v-for="park in info">
              <a v-on:click="loadParkInfo(park)" class="image">
                <img :src="park.images[0].url" alt="Park Image" style="max-height:250px;"/>
              </a>
              <div class="caption">
                <h2>{{ park.fullName }}</h2>
              </div>
            </article>
          </div>
				</section>

        <!-- Selected Park -->
        <a id="selectedParkSection"></a>

        <!-- Spinner -->
        <section class="wrapper style1 align-center" v-if="displaySpinner2">
          <hr>
          <div class="spinner-border"></div>
        </section>

        <section class="wrapper style1 align-center" :style="{ display: displayPark }">
        <!-- <section class="wrapper style1 align-center"> -->
          <hr>
					<div class="content" style="margin: 0 10%;">
						<h3>{{ selectedPark.fullName }}</h3>
						<!-- <h3>Yellowstone National Park</h3> -->
            <div class="image">
  						<img :src="selectedParkImageUrl" alt="park image" style="max-height:500px; max-width:1000px;"/>
  					</div>

            <!-- Description section -->
            <div style="text-align: Left;">
              <div class="row">
                <div class="column left" style="padding-left: 15px;">
                  <h4>Description</h4>
                  <p>{{ selectedPark.description }}</p>
                  <!-- <p>Visit Yellowstone and experience the world's first national park. Marvel at a volcano's hidden power rising up in colorful hot springs, mudpots, and geysers. Explore mountains, forests, and lakes to watch wildlife and witness the drama of the natural world unfold. Discover the history that led to the conservation of our national treasures 'for the benefit and enjoyment of the people.'</p> -->
                  </div>
                  <div class="column right">
                    <h5>Contact us:</h5>
                    <p>
                      <span style="font-weight:500;">Phone:</span> {{ selectedPark.contacts.phoneNumbers[0].phoneNumber }}<br />
                      <span style="font-weight:500;">Email:</span> <a :href=`mailto:${selectedPark.contacts.emailAddresses[0].emailAddress}`>{{ selectedPark.contacts.emailAddresses[0].emailAddress }}</a><br />
                      <span style="font-weight:500;">Website:</span> <a :href="selectedPark.url" target="_blank">{{ selectedPark.url }}</a><br />
                      <!-- <span style="font-weight:500;">Phone:</span> (684) 633-7082<br />
                      <span style="font-weight:500;">Email:</span> example@gmail.com<br />
                      <span style="font-weight:500;">Website:</span> www.google.com<br /> -->
                    </p>
                  </div>
                </div>
              </div>

              <!-- Alerts section -->
              <div style="text-align: Left;">
                <h4>Alerts</h4>
                <p v-if="alerts.length == 0">None!</p>
                <div class="row">
                  <div class="column left2">
                    <div v-for="alert in alerts" style="padding-top: 5px; padding-bottom: 5px;">
                      <img :src="alert.icon" alt="alert icon"><br /><br />
                    </div>
                  </div>
                    <div class="column right2">
                      <div v-for="alert in alerts">
                        {{ alert.description }} <br /><br />
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Plan Your Visit section -->
              <div style="text-align: Left;">
                <h4>Plan Your Visit</h4>

                <!-- Info -->
                <div class="accordion" v-on:click="showInfo = true"><img src="images/infoIcon.svg" alt=""> Basic Information</div>
                <div class="panel" v-if="showInfo">
                  <strong>{{ selectedPark.fullName }}</strong><br /><br />
                  State(s): <em>{{ selectedPark.states.replace(new RegExp(",", 'g'), ", ") }}</em><br /><br />
                  Designation: <em>{{ selectedPark.designation }}</em><br /><br />
                  Directions: <em>{{ selectedPark.directionsInfo }}</em><br /><br />
                  Weather: <em>{{ selectedPark.weatherInfo }}</em><br /><br />
                </div>

                <!-- Campgrounds  -->
                <div class="accordion" v-on:click="getCampgrounds"><img src="images/campgroundIcon.svg" alt=""> Nearby Campgrounds</div>
                <div class="panel">
                  <div class="spinner-border" v-if="displaySpinnerCamp"></div>
                  <div v-if="displayCampgrounds" v-for="camp in campgrounds">
                    <strong>{{ camp.name }}</strong><br />
                    Description: <em>{{ camp.description }}</em><br /><br />
                    <!-- <p>Distance: {{ camp.distance }} mi</p> -->
                  </div>
                  <p v-if="campgrounds.length==0 && displaySpinnerCamp == false">No campgrounds to show!</p>
                </div>

                <!-- Visitor centers -->
                <div class="accordion" v-on:click="getVisitorCenters"><img src="images/visitorCenterIcon.svg" alt=""> Visitor Centers</div>
                <div class="panel">
                  <div class="spinner-border" v-if="displaySpinnerVisit"></div>
                  <div v-if="displayVisitorCenters" v-for="vc in visitorCenters">
                    <strong>{{ vc.name }}</strong><br />
                    Description: <em>{{ vc.description }}</em><br />
                    <!-- <p>Distance: {{ vc.distance }} mi</p> -->
                    Learn more about <a :href="vc.url" target="_blank">{{ vc.name }}</a>.<br /><br />
                  </div>
                  <p v-if="visitorCenters.length==0 && displaySpinnerVisit == false">No visitor centers to show!</p>
                </div>

              </div>

					</div>
				</section>


      </div> <!-- End wrapper div -->

  			<!-- Footer -->
  				<footer class="wrapper style1 align-center">
  					<div class="inner">
  						<p>&copy; Timothy Goh. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  					</div>
  				</footer>

 		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/breakpoints.min.js"></script>
		<script src="js/util.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>

    <script>
    // For q input field, searches when "enter" key is hit and focus is in text input box
    var qField = document.getElementById("qField");
    qField.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("searchButton").click();
      }
    });

    // Accordion code
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
    </script>

 	</body>
 </html>
